/* Google Fonts */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@400;500;600;700&display=swap");

/* Color */

:root {
  --color-primary: #feeae9;
  --color-secondary: #ff4e94;
  --color-accent: #000000;
  --color-heading: #1f1f1f;
  --color-body: #4e4e4e;
}

html {
  /* 62.5% of 16 px = 10px */
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
}

h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 1rem;
}

h1 {
  font-size: 5.6rem;
  font-weight: 700;
}

h2 {
  font-size: 3.6rem;
  font-weight: 600;
}

h3 {
  font-size: 3.6rem;
  font-weight: 500;
}

h4 {
  font-size: 2.4rem;
}

p {
  font-size: 1.6rem;
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.7rem;
  }

  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 3rem;
  }
  h4 {
    font-size: 2rem;
  }
}
